.btn {
  width: 50px;
  height: 75px;
  margin-right: 5px;
  border: grey solid 1px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  font-size: 17px;
  margin-top: 15px;
  margin-bottom: 0;
}

.btn:focus {
  outline: none;
}

.btn-selected {
  animation: slideUp 300ms ease;
  font-weight: bold;

  margin-top: 0;
  margin-bottom: 15px;

  border: #6cddff solid 1px;
  color:white!important;
  background: linear-gradient(to top, #6cddff, #107e90)!important;

}

@keyframes slideUp {
  from {
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: normal;
  }
  to {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
  }
}

.status {
  color: #bdbdbd;
}

.fib{
  background: linear-gradient(to top, #ff6c6c, #922f2f);
  color: wheat;
}

.fib1{
}

.fib2{
}

.fib3{
}

.fib5{
}

.fib8{
}

.fib13{
}

.fib21{
}

.fibq{
}
