.revealor {
  margin-left: 20px;
}

.result-mini-card {
  border: 2px solid #929292;
  /* background-color: #ffe597; */
  border-radius: 50%;
  display: inline-block;
  width: 38px;
  line-height: 34px;
  font-weight: bold;
  color: black;
}

.result-mini-card-hidden {
  background-color: #c9c9c9 !important;
  font-size: 20px;
  font-weight: normal;
}

.result-name{
  line-height: 34px;
  font-weight: bold;
  color: var(--color-paragraph);
}

.midmed{
  font-size: 12px;
  color: var(--color-paragraph);
}

.reset {
  width: 200px;
  color: var(--color-buttontext);
  background-color: var(--color-button);
  border-color: var(--color-stroke);
}

.aufdecken:active {
  background-color: var(--color-button) !important;
}

.reset:active {
  background-color: var(--color-button) !important;
}

.aufdecken {
  width: 200px;
  color: var(--color-buttontext);
  background-color: var(--color-button);
  border-color: var(--color-stroke);
}
