.pumping {
  animation: heartbeat 1s infinite;
  width: 100px;
}

.result-lsd{
  animation: lsd 0.5s infinite;
}

@keyframes lsd {
  0% {
    color:black;
    background-color: #97efff;
  }
  30% {
    color:white;
    background-color: #c68417;
  }
  60% {
    color: #1aff00;
    background-color: #f62bff;
  }
}

@keyframes heartbeat {
  0% {
    font-size: .7rem;
  }
  20% {
    font-size: 1rem;
  }
  40% {
    font-size: .7rem;
  }
  60% {
    font-size: 1rem;
  }
  80% {
    font-size: .7rem;
  }
  100% {
    font-size: .7rem;
  }
}
