<div class="d-flex flex-column sticky-footer-wrapper min-vh-100">
    <nav class="container">
        <div class="jumbotron">
            <h1 class="display-4">Planning Poker</h1>
            <p *ngIf="user" class="lead">{{user.name}} in {{user.room}} (<a href (click)="logout()">ändern</a>)</p>
        </div>
    </nav>
    <main class="flex-fill">
        <app-poker-lobby [hidden]="user" (userEmitter)="receiveUser($event)"></app-poker-lobby>
        <app-poker-table *ngIf="user" [user]="user"></app-poker-table>
        <app-poker-result *ngIf="user" [user]="user" (resetSelections)="resetSelections()"></app-poker-result>
    </main>
    <footer class="container">
        <span class="text-muted">Qualitätssoftware mit ❤️ vom 🅰-Team</span>
    </footer>
</div>
