.aendern {
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.aendern:hover {
  color: var(--color-button);
}

.header {
  margin-top: 5px;
  height: 200px;
  border: 1px solid var(--color-button);
}
