input:focus {
  box-shadow: none;
  border-color: var(--color-button);
}

.beitreten {
  border-color: var(--color-stroke);
  background-color: var(--color-button);
  color: black;
}

.beitreten:active {
  background-color: var(--color-button)!important;
}

.beitreten:focus {
  box-shadow: none!important;
}
