input:focus {
  box-shadow: none;
  border-color: #e0b367;
}

.beitreten {
  border-color: #917744;
  background-color: #e0b367;
  color: black;
}

.beitreten:active {
  background-color: #e0b367!important;
}

.beitreten:focus {
  box-shadow: none!important;
}
