/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@4.6.0/dist/css/bootstrap.min.css');

.no-select{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
